<% include partials/header %>
<h1>New Campground form</h1>
<form action="/campground" method="POST">
<input type="text" name="name" placeholder="name">
<input type="text" name="image" placeholder="image link">
<input type="submit">
</form>
<% include partials/footer %>
<a href="/campground">go to campgrounds page</a>